body {
    padding: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article {
    padding-left: 40px;
}

.menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 75px;
    font-size: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.menu-logo img {
    width: 55px;
    height: 55px;
    margin: 10px 16px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.menu-item, .menu-logo .text {
    display: flex;
    align-items: center;
    color: white;
}