body {
    overflow: hidden;
    height: 100vh;
}

.article {
    padding: 0%;
}

#map, .article {
    height: 93.8%;
    border-radius: 20px;
}

.popup-country {
    background-color: white;
    border: 0px solid white;
    border-radius: 7px;
}

.popup-country img {
    width: 180px;
    height: 120px;
}